<div class="p-20 bg-main-color dimensions">
    <div fxLayout="column" fxLayoutAlign="start stretch">
        <div class="bg-color-white p-20">
            <div>
                <span class="subtitle-1">Official Support staff</span>
            </div>
            <div class="p-20">
                <p class="p-8">For official support please contact with the following persons</p>
                <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="12px">
                    <mat-card style="background-color: #aee2ff">
                        <mat-card-content fxLayout="column" fxLayoutAlign="start stretch">
                            <span class="subtitle-1">Md. Maidul Islam</span>
                            <span class="subtitle-2">Phone: <a href="tel: +8801700000000">+8801700000000</a></span>
                        </mat-card-content>
                    </mat-card>
                    <mat-card style="background-color: #aee2ff">
                        <mat-card-content fxLayout="column" fxLayoutAlign="start stretch">
                            <span class="subtitle-1">Md. Miraz Islam</span>
                            <span class="subtitle-2">Phone: <a href="tel: +8801700000000">+8801700000000</a></span>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="bg-color-white p-20">
            <div>
                <span class="subtitle-1">Technical Support staff</span>
            </div>
            <div class="p-20">
                <p>
                    If you have any technical queries or feedback about our application, please mail us at
                    <a href="mailto:author.services2023@gmail.com">official mail</a>
                </p>
            </div>
        </div>
    </div>
</div>
