<div class="p-20 w-500">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
        <div>
            <span class="headline-6">Is Profile Updated?</span>
        </div>
        <mat-divider></mat-divider>
        <div>
            <p class="p-20 subtitle-2">
                I strongly recommend you to check your profile and update all the necessary information required for the
                registration before going to the next page.
            </p>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="12px">
            <button mat-raised-button color="primary" class="button-link" (click)="goToProfile()">Go To Profile</button>
            <button mat-raised-button color="primary" class="button-link" (click)="register()">Register</button>
        </div>
    </div>
</div>
