.mat-sidenav {
    width: 200px !important;
    border-right: 1px solid #f1f1f1;
    min-height: calc(100vh - 64px);
}

.mat-sidenav-content {
    min-height: calc(100vh - 64px);
    width: calc(100vw - 40px);
    overflow-y: auto;
}

a {
    text-decoration: none;
}

.admin-menu {
    padding: 8px 0 8px 20px;
    &:hover {
        background: rgb(146, 180, 236, 30%);
    }
}
