.background {
    background-color: #dbdfea;
}

.subtitle-2 {
    font-weight: 600 !important;
}
fieldset {
    border-radius: 8px;
}

.bg-color {
    background-color: #fff;
    border-radius: 8px;
}
