<div class="container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
    <div class="form-container">
        <div class="title-text" fxLayoutAlign="center center">
            <h1 class="title login">Sign Up</h1>
        </div>
        <div fxLayout="row" fxLayoutAlign="center start">
            <form [formGroup]="signupForm" fxLayout="column" fxLayoutAlign="start stretch">
                <div fxLayout="row" fxLayoutAlign="stretch center">
                    <mat-form-field appearance="outline" style="margin-right: 12px">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" formControlName="name" required />
                        <mat-error *ngIf="signupForm.get('name')?.errors?.['required']">Name is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email" required />
                        <mat-error *ngIf="signupForm.get('email')?.errors?.['required']">email is required</mat-error>
                        <mat-error *ngIf="signupForm.get('email')?.errors?.['email']">invalid email format</mat-error>
                        <mat-error *ngIf="signupForm.get('email')?.errors?.['uniqueEmailError']">email already exists!</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="stretch center">
                    <mat-form-field appearance="outline" style="margin-right: 12px">
                        <mat-label>Phone</mat-label>
                        <input matInput type="email" formControlName="phone" required />
                        <mat-error *ngIf="signupForm.get('phone')?.errors?.['required']">phone is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" required />
                        <mat-error *ngIf="signupForm.get('password')?.errors?.['required']">password is required</mat-error>
                        <mat-error *ngIf="signupForm.get('password')?.errors?.['minlength']">minimum 6 characters needed</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="stretch center">
                    <mat-form-field appearance="outline" style="margin-right: 12px">
                        <mat-label>ID</mat-label>
                        <input matInput type="text" formControlName="studentId" required />
                        <mat-error *ngIf="signupForm.get('studentId')?.errors?.['required']">ID is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Department</mat-label>
                        <input [matAutocomplete]="autocomplete" matInput type="text" formControlName="department" required />
                        <mat-error *ngIf="signupForm.get('daprtment')?.errors?.['required']">department is required</mat-error>
                        <mat-autocomplete #autocomplete="matAutocomplete">
                            <mat-option *ngFor="let department of DEPARTMENTS" [value]="department">
                                <span>{{ department }}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="stretch center">
                    <mat-form-field appearance="outline" style="margin-right: 12px">
                        <mat-label>Semester</mat-label>
                        <input matInput type="text" formControlName="semester" [matAutocomplete]="classComplete" />
                        <mat-autocomplete #classComplete="matAutocomplete">
                            <mat-option *ngFor="let class of CLASSES" [value]="class.value">
                                <span class="subtitle-2"> {{ class.title }} </span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Session</mat-label>
                        <input [matAutocomplete]="session" matInput type="text" formControlName="session" required />
                        <mat-error *ngIf="signupForm.get('session')?.errors?.['required']">session is required</mat-error>
                        <mat-autocomplete #session="matAutocomplete">
                            <mat-option *ngFor="let session of SESSIONS" [value]="session">
                                <span>{{ session }}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </form>
        </div>
        <div class="footer" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
            <button mat-stroked-button color="accent" (click)="homepage()">CANCEL</button>
            <button mat-raised-button color="primary" (click)="register()" [disabled]="!signupForm.valid">SAVE</button>
        </div>
        <div class="footer-down" fxLayout="row" fxLayoutAlign="center center">
            <span>Already have Account? <a href="/login">Login</a></span>
        </div>
    </div>
</div>
