<div class="p-20 bg-main-color">
    <mat-progress-bar *ngIf="!dataLoaded" mode="indeterminate"></mat-progress-bar>
    <div *ngIf="dataLoaded" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
        <div fxLayout="column" fxLayoutAlign="center center" class="bg-color-white p-12 border-radius-8">
            <p class="headline-5">Registration Form</p>
            <p class="headline-6">{{ examData?.examName }}</p>
        </div>
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
            <div class="bg-color-white p-20 border-radius-8">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                    <img src="assets/images/bsmrstu_logo.jpeg" alt="bsmrstu logo" />
                    <span class="headline-6">Bangabandhu Sheikh Mujibur Rahman Science and Technology University, Gopalganj</span>
                </div>
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="16px">
                    <div fxLayoutAlign="center center">
                        <span class="headline-6 table-bg p-12">Admit Card</span>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="start stretch" class="">
                        <div fxLayout="row" fxLayoutAlign="start start">
                            <div fxFlex="75" fxLayout="column" fxLayoutALign="start stretch" fxLayoutGap="16px">
                                <div>
                                    <span class="subtitle-1"> {{ examData?.examName }} </span>
                                </div>
                                <div fxLayout="row" fxLayoutALign="start center" fxLayoutGap="12px">
                                    <div fxFlex="33" fxLayout="row" fxLayoutALign="start center" fxLayoutGap="12px">
                                        <span class="subtitle-2 w-160">Candidate's Name:</span>
                                        <span class="subtitle-1"> {{ userData?.name }} </span>
                                    </div>
                                    <div fxFlex="33" fxLayout="row" fxLayoutALign="start center" fxLayoutGap="12px">
                                        <span class="subtitle-2 w-160">Department's Name:</span>
                                        <span class="subtitle-1"> {{ userData?.department }} </span>
                                    </div>
                                    <div fxFlex="33" fxLayout="row" fxLayoutALign="start center" fxLayoutGap="12px">
                                        <span class="subtitle-2 w-160">Student ID Number:</span>
                                        <span class="subtitle-1"> {{ userData?.studentId }} </span>
                                    </div>
                                </div>
                                <div fxLayout="row" fxLayoutALign="start center" fxLayoutGap="12px">
                                    <div fxFlex="33" fxLayout="row" fxLayoutALign="start center" fxLayoutGap="12px">
                                        <span class="subtitle-2 w-160">Session:</span>
                                        <span class="subtitle-1"> {{ userData?.session }} </span>
                                    </div>
                                    <div fxFlex="33" fxLayout="row" fxLayoutALign="start center" fxLayoutGap="12px">
                                        <span class="subtitle-2 w-160">Hall Name:</span>
                                        <span class="subtitle-1"> {{ userData?.hallName }} </span>
                                    </div>
                                    <div fxFlex="33" fxLayout="row" fxLayoutALign="start center" fxLayoutGap="12px">
                                        <span class="subtitle-2 w-160">Exam Centre: </span>
                                        <span class="subtitle-1"> {{ examData?.examCentre }} </span>
                                    </div>
                                </div>
                                <div fxLayout="row" fxLayoutALign="start center" fxLayoutGap="12px">
                                    <div fxFlex="33" fxLayout="row" fxLayoutALign="start center" fxLayoutGap="12px">
                                        <span class="subtitle-2 w-160">Exam Start Date: </span>
                                        <span class="subtitle-1"> {{ examData?.examDate | date : "longDate" }} </span>
                                    </div>
                                </div>
                            </div>
                            <div fxFlex="25" fxLayout="row" fxLayoutAlign="center center">
                                <img class="admit-img" src="{{ userData?.imagePath }}" alt="{{ userData?.name }}" />
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="16px" class="mt-32">
                            <div fxFlex="100" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="12px">
                                <div fxLayout="column" fxLayoutALign="start center">
                                    <hr class="w-200 border" />
                                    <div class="m-0 text-align-center">
                                        <span>examinee's signature</span>
                                    </div>
                                </div>
                                <div fxLayout="row" fxLayoutALign="start end">
                                    <span>Date:</span>
                                    <hr class="w-160 border h-0 mt-16 ml-4" />
                                </div>
                            </div>
                            <div fxFlex="100" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="12px">
                                <div fxLayout="column" fxLayoutALign="start center">
                                    <hr class="w-200 border" />
                                    <div class="m-0 text-align-center">
                                        <span>exam controller</span>
                                    </div>
                                    <span class="subtitle-2"
                                        >Bangabandhu Sheikh Mujibur Rahman Science and Technology University, Gopalganj</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-color-white p-20 border-radius-8">
                <div fxLayoutAlign="center center">
                    <span class="headline-6 table-bg p-12">Student Information</span>
                </div>
                <div fxLayout="row wrap">
                    <div fxFlex="33" fxLayout="row" fxLayoutGap="8px" class="p-12">
                        <span class="subtitle-2 w-150">Name:</span>
                        <span class="subtitle-1"> {{ userData?.name }} </span>
                    </div>
                    <div fxFlex="33" fxLayout="row" fxLayoutGap="8px" class="p-12">
                        <span class="subtitle-2 w-150">Father's Name:</span>
                        <span class="subtitle-1"> {{ userData?.fatherName }} </span>
                    </div>
                    <div fxFlex="33" fxLayout="row" fxLayoutGap="8px" class="p-12">
                        <span class="subtitle-2 w-150">Mother's Name:</span>
                        <span class="subtitle-1"> {{ userData?.motherName }} </span>
                    </div>
                    <div fxFlex="33" fxLayout="row" fxLayoutGap="8px" class="p-12">
                        <span class="subtitle-2 w-150">Husband/Guardian's Name:</span>
                        <span class="subtitle-1"> {{ userData?.guardianName }} </span>
                    </div>
                    <div fxFlex="66" fxLayout="row" fxLayoutGap="8px" class="p-12">
                        <span class="subtitle-2 w-150">Present Address:</span>
                        <span class="subtitle-1"> {{ userData?.address }} </span>
                    </div>
                    <div fxFlex="100">
                        <fieldset fxFLex="100" fxLayout="row wrap" class="border-radius-8">
                            <legend class="subtitle-2">Permanent Address</legend>
                            <div fxFlex="25" fxLayout="row" fxLayoutGap="8px" class="p-12">
                                <span class="subtitle-2">Village:</span>
                                <span class="subtitle-1"> {{ userData?.village }} </span>
                            </div>
                            <div fxFlex="25" fxLayout="row" fxLayoutGap="8px" class="p-12">
                                <span class="subtitle-2">Post Office:</span>
                                <span class="subtitle-1"> {{ userData?.postOffice }} </span>
                            </div>
                            <div fxFlex="25" fxLayout="row" fxLayoutGap="8px" class="p-12">
                                <span class="subtitle-2">Sub-District:</span>
                                <span class="subtitle-1"> {{ userData?.subDistrict }} </span>
                            </div>
                            <div fxFlex="25" fxLayout="row" fxLayoutGap="8px" class="p-12">
                                <span class="subtitle-2">District:</span>
                                <span class="subtitle-1"> {{ userData?.district }} </span>
                            </div>
                        </fieldset>
                    </div>
                    <div fxFlex="33" fxLayout="row" fxLayoutGap="8px" class="p-12">
                        <span class="subtitle-2 w-150">Phone:</span>
                        <span class="subtitle-1"> {{ userData?.phone }} </span>
                    </div>
                    <div fxFlex="33" fxLayout="row" fxLayoutGap="8px" class="p-12">
                        <span class="subtitle-2 w-150">Nationality:</span>
                        <span class="subtitle-1"> {{ userData?.nationality }} </span>
                    </div>
                    <div fxFlex="33" fxLayout="row" fxLayoutGap="8px" class="p-12">
                        <span class="subtitle-2 w-150">Religion:</span>
                        <span class="subtitle-1"> {{ userData?.religion }} </span>
                    </div>
                    <div fxFlex="33" fxLayout="row" fxLayoutGap="8px" class="p-12">
                        <span class="subtitle-2 w-150">Birth Date:</span>
                        <span class="subtitle-1"> {{ userData?.birthDate | date : "longDate" }} </span>
                    </div>
                </div>
                <div fxLayout="column" class="p-12">
                    <span class="subtitle-2">Educational Qualification:</span>
                    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="12px">
                        <div fxFlex="100" class="p-8 table-bg">
                            <span fxFlex="15" class="subtitle-2">Examination Name</span>
                            <span fxFlex="10" class="subtitle-2">Passing Year</span>
                            <span fxFlex="25" class="subtitle-2">Institute</span>
                            <span fxFlex="25" class="subtitle-2">Board/University</span>
                            <span fxFlex="15" class="subtitle-2">Roll No.</span>
                            <span fxFlex="10" class="subtitle-2">Division/GPA</span>
                        </div>
                        <mat-divider class="pl-8 pr-8"></mat-divider>
                        <div fxLayout="column" fxFlex="100" fxLayoutGap="8px" class="pl-8 pr-8">
                            <ng-container *ngFor="let info of userData?.academicInfo">
                                <div>
                                    <span fxFlex="15" class="subtitle-1"> {{ info.examName }} </span>
                                    <span fxFlex="10" class="subtitle-1"> {{ info.passingYear }} </span>
                                    <span fxFlex="25" class="subtitle-1"> {{ info.institute }} </span>
                                    <span fxFlex="25" class="subtitle-1"> {{ info.board }} </span>
                                    <span fxFlex="15" class="subtitle-1"> {{ info.examRoll }} </span>
                                    <span fxFlex="10" class="subtitle-1"> {{ info.GPA }} </span>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div fxLayout="column" class="p-12">
                    <span class="subtitle-2">Registered courses for this examination:</span>
                    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="12px" class="">
                        <div fxFlex="100" class="p-8 table-bg">
                            <span fxFlex="5" class="subtitle-2">No.</span>
                            <span fxFlex="25" class="subtitle-2">Course Code</span>
                            <span fxFlex="55" class="subtitle-2">Course Title</span>
                            <span fxFlex="15" class="subtitle-2">Credit</span>
                        </div>
                        <mat-divider class="pl-8 pr-8"></mat-divider>
                        <div fxLayout="column" fxFlex="100" fxLayoutGap="8px" class="pl-8 pr-8">
                            <ng-container *ngFor="let info of userData?.courses; let i = index">
                                <div>
                                    <span fxFlex="5" class="subtitle-1"> {{ i + 1 }} </span>
                                    <span fxFlex="25" class="subtitle-1"> {{ info.courseCode }} </span>
                                    <span fxFlex="55" class="subtitle-1"> {{ info.courseName }} </span>
                                    <span fxFlex="15" class="subtitle-1"> {{ info.courseCredits }} </span>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="p-12 mt-16" fxLayout="row" fxLayoutAlign="space-between center">
                    <div>
                        <span class="subtitle-1 color-custom">[To be filled by Exam controller office]</span>
                    </div>
                    <div fxLayout="column" fxLayoutALign="start center">
                        <hr class="w-200 border" />
                        <div class="m-0 text-align-center">
                            <span class="subtitle-2">examinee's signature & date</span>
                        </div>
                    </div>
                </div>
                <div class="p-12" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
                    <span class="subtitle-2">Examination start date:</span>
                    <span class="subtitle-1"> {{ examData?.examDate | date : "dd-MM-YYYY" }} </span>
                </div>
                <div class="p-12" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="12px">
                    <div fxLayout="column" fxLayoutAlign="start stretch">
                        <div class="border-table" style="background-color: #ffbdf7" fxLayoutAlign="center center">
                            <span class="p-4">To be used by bank</span>
                        </div>
                        <div class="border-table" fxLayout="row" fxLayoutAlign="start start">
                            <div class="border-right-1 p-4 w-80">Scroll No.</div>
                            <div class="p-4 w-280">signature, seal and date of money receipt</div>
                        </div>
                        <div class="border-table" fxLayout="row" fxLayoutAlign="start start">
                            <div class="border-right-1 p-4 w-80 h-100"></div>
                            <div class="p-4 w-280 h-100"></div>
                        </div>
                    </div>
                    <div class="ml-auto h-170 pt-20" fxFlex="50" fxLayout="column" fxLayoutAlign="start start">
                        <div fxFlex="100" fxLayout="row" fxLayoutAlign="center start">
                            <span class="subtitle-2">Exam centre : </span>
                            <hr class="w-400 border mt-16 ml-8"/>
                        </div>
                        <div fxFlex="100" fxLayout="column" fxLayoutAlign="end center">
                            <div>
                                <hr class="w-400 border mt-16 ml-8"/>
                            </div>
                            <span class="subtitle-2">Exam Controller</span>
                            <span class="subtitle-2"
                            >Bangabandhu Sheikh Mujibur Rahman Science and Technology University, Gopalganj</span
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-color-white p-12 border-radius-8" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="12px"
             style="position: relative;">
            <div *ngIf="!isValidUserInformation() || !isUserAllowedToRegister()" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                <mat-icon color="warn" class="cursor-pointer" matTooltip="Check if you're registering with the correct exam or whether your profile is updated or not.">information</mat-icon>
                <span style="color: rgb(255, 0, 0);" class="subtitle-2">Invalid information! Your profile is not matched with this exam's required information.</span>
            </div>
            <button (click)="back()" class="button-text" color="warn" mat-stroked-button>Cancel</button>
            <button [disabled]="!isValidUserInformation() || !isUserAllowedToRegister() || submitted" (click)="onSubmit()" class="button-text" color="primary" mat-raised-button>Submit</button>
            <mat-progress-spinner *ngIf="submitted" diameter="25"></mat-progress-spinner>
        </div>
    </div>
</div>
