img {
    width: 56px;
    height: 56px;
}

.admit-img {
    height: 150px;
    width: 150px;
}

.square {
    padding: 0 200px !important;
}

.border {
    border-top: dotted 1px;
}
.text-align-center {
    text-align: center !important;
}
.border-bottom-dotted {
    margin-top: 14px;
    border-style: dotted;
    height: 0px !important;
}
