img {
    width: 56px;
    height: 56px;
}

.admit-img {
    height: 150px;
    width: 150px;
}

.square {
    padding: 0 200px !important;
}

.border {
    border-top: dotted 1px;
}
.text-align-center {
    text-align: center !important;
}
.border-bottom-dotted {
    margin-top: 14px;
    border-style: dotted;
    height: 0px !important;
}

.color-custom {
    color: #db005b;
}

.table-bg {
    background-color: rgba(140, 192, 222, 30%);
}
.border-table {
    border: 1px solid gray;
}

.border-top-1 {
    border-top: 1px solid gray;
}

.border-right-1 {
    border-right: 1px solid gray;
}

.border-bottom-1 {
    border-bottom: 1px solid gray;
}

.border-left-1 {
    border-left: 1px solid gray;
}


