<div>
    <div>
        <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                <span class="headline-6">Department Registration</span>
                <div class="topmenu">
                    <ng-container *ngFor="let link of navigations; let lastIndex = last">
                        <button *ngIf="link.title !== 'Profile'" [ngClass]="{'activeTab' : activeTab === link.url}"
                                mat-button routerLink="{{ link.url }}">
                            {{ link.title }}
                        </button>
                        <button (click)="visitProfile()" *ngIf="link.title === 'Profile'"
                                [ngClass]="{'activeTab' : activeTab === link.url}" mat-button>
                            {{ link.title }}
                        </button>
                        <span *ngIf="!lastIndex" class="h-24 mx-8">|</span>
                    </ng-container>
                    <span *ngIf="profileData?.isAdmin" class="h-24 mx-8">|</span>
                    <button *ngIf="profileData?.isAdmin" [ngClass]="{'activeTab' : activeTab === 'admin'}" mat-button
                            routerLink="admin">Dashboard
                    </button>
                </div>
            </div>
            <div class="profile-trigger">
                <ng-container *ngIf="isAuthenticated; else entry">
                    <button mat-mini-fab [matMenuTriggerFor]="account">
                        <img
                            src="{{ profileData?.imagePath }}"
                            onerror="this.src='assets/images/profile_avatar.jpg'"
                            alt="{{ profileData?.name }}"
                        />
                    </button>
                    <mat-menu #account="matMenu" class="w-280 p-4">
                        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="12px">
                            <div
                                fxLayout="column"
                                fxLayoutAlign="center center"
                                fxLayoutGap="12px"
                                (click)="$event.stopPropagation()"
                            >
                                <img
                                    class="menu-profile-image"
                                    src="{{ profileData?.imagePath }}"
                                    onerror="this.src='assets/images/profile_avatar.jpg'"
                                    alt="{{ profileData?.name }}"
                                />
                                <span class="subtitle-1">{{ profileData?.name }}</span>
                            </div>
                            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="16px" class="p-20">
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="start center"
                                    fxLayoutGap="12px"
                                    (click)="visitProfile()"
                                    class="cursor-pointer"
                                >
                                    <mat-icon color="primary">account_circle</mat-icon>
                                    <span class="subtitle-2">Account</span>
                                </div>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="start center"
                                    fxLayoutGap="12px"
                                    (click)="settings()"
                                    class="cursor-pointer"
                                >
                                    <mat-icon color="primary">sync_alt</mat-icon>
                                    <span class="subtitle-2">Edit Profile</span>
                                </div>
                                <mat-divider></mat-divider>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="start center"
                                    fxLayoutGap="12px"
                                    (click)="logout()"
                                    class="cursor-pointer"
                                >
                                    <mat-icon color="primary">logout</mat-icon>
                                    <span class="subtitle-2">Logout</span>
                                </div>
                            </div>
                        </div>
                    </mat-menu>
                </ng-container>
                <ng-template #entry>
                    <div class="right-side" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                        <button class="login button-text" mat-button color="primary" routerLink="login">Login</button>
                        <button class="signup button-text" mat-stroked-button color="primary" routerLink="register">Signup</button>
                    </div>
                </ng-template>
            </div>
        </mat-toolbar>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
