<div class="w-100-p">
    <div fxLayout="column" fxLayoutAlign="start stretch">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px" class="p-24">
            <mat-icon color="primary">layers</mat-icon>
            <span class="headline-5">Add Examination</span>
        </div>
        <mat-divider></mat-divider>
        <div>
            <form [formGroup]="examForm" class="p-24">
                <div fxLayout="row wrap">
                    <mat-form-field appearance="outline" fxFlex="60" class="p-4">
                        <mat-label>Exam Name</mat-label>
                        <input matInput type="text" formControlName="examName" class="subtitle-2" required />
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="20" class="p-4" (click)="openDatePicker.open()">
                        <mat-label>Regi. Open Date</mat-label>
                        <input
                            matInput
                            [matDatepicker]="openDatePicker"
                            (click)="openDatePicker.open()"
                            class="subtitle-2"
                            formControlName="registrationOpenDate"
                        />
                        <mat-datepicker-toggle matIconSuffix [for]="openDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #openDatePicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="20" class="p-4" (click)="closeDatePicker.open()">
                        <mat-label>Regi. Close Date</mat-label>
                        <input
                            matInput
                            [matDatepicker]="closeDatePicker"
                            (click)="closeDatePicker.open()"
                            formControlName="registrationCloseDate"
                            class="subtitle-2"
                            required
                        />
                        <mat-datepicker-toggle matIconSuffix [for]="closeDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #closeDatePicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="20" class="p-4" (click)="examDatePicker.open()">
                        <mat-label>Exam Date</mat-label>
                        <input
                            matInput
                            [matDatepicker]="examDatePicker"
                            (click)="examDatePicker.open()"
                            formControlName="examDate"
                            class="subtitle-2"
                            required
                        />
                        <mat-datepicker-toggle matIconSuffix [for]="examDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #examDatePicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="20" class="p-4">
                        <mat-label>Exam Centre</mat-label>
                        <input
                            matInput
                            [matAutocomplete]="centerComplete"
                            type="text"
                            formControlName="examCentre"
                            class="subtitle-2"
                            required
                        />
                        <mat-autocomplete #centerComplete="matAutocomplete">
                            <mat-option *ngFor="let status of CENTRE" [value]="status">
                                <span class="subtitle-1">{{ status }}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="20" class="p-4">
                        <mat-label>Semester</mat-label>
                        <input
                            matInput
                            [matAutocomplete]="semesterComplete"
                            formControlName="semester"
                            class="subtitle-2"
                            required
                        />
                        <mat-autocomplete #semesterComplete="matAutocomplete">
                            <mat-option *ngFor="let status of SEMESTER" [value]="status">
                                <span class="subtitle-1">{{ status }}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="20" class="p-4">
                        <mat-label>Year</mat-label>
                        <input matInput [matAutocomplete]="yearComplete" formControlName="year" class="subtitle-2" required />
                        <mat-autocomplete #yearComplete="matAutocomplete">
                            <mat-option *ngFor="let status of YEAR" [value]="status">
                                <span class="subtitle-1">{{ status }}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="20" class="p-4">
                        <mat-label>Status</mat-label>
                        <input matInput [matAutocomplete]="statusComplete" formControlName="status" class="subtitle-2" required />
                        <mat-autocomplete #statusComplete="matAutocomplete">
                            <mat-option *ngFor="let status of STATUS" [value]="status">
                                <span class="subtitle-1">{{ status }}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </form>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="12px" class="p-24">
            <button mat-stroked-button color="warn" class="button-text">Cancel</button>
            <button mat-raised-button color="primary" class="button-text">Add Exam</button>
        </div>
    </div>
</div>
