.topper {
    margin: 12px 0px;
}

.title {
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins" sans-serif;
    letter-spacing: 0.8px;
    line-height: 24px;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: rgba(52, 116, 235, 0.2);
}
.table {
    max-height: 452px !important;
    overflow-y: auto;
    border-radius: 8px;
    &::-webkit-scrollbar {
        display: none;
    }
}
