<mat-progress-bar *ngIf="!dataLoaded" mode="indeterminate"></mat-progress-bar>
<div *ngIf="dataLoaded" class="p-12 bg-main-color">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="12px">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="12px" class="bg-color-white p-12 border-radius-4">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
                <mat-icon color="primary">hub</mat-icon>
                <span class="headline-5"
                    >User List <span>({{ this.userList.length }})</span></span
                >
            </div>
            <form [formGroup]="search" class="search-form" fxLayoutAlign="center center">
                <mat-form-field appearance="outline">
                    <input matInput formControlName="Name" placeholder="Search..." />
                    <mat-icon class="mb-6" matPrefix color="primary">search</mat-icon>
                    <mat-icon
                        *ngIf="search.get('Name')?.value"
                        class="mb-6 cursor-pointer"
                        (click)="search.get('Name')?.setValue('')"
                        matSuffix
                        color="warn"
                        >clear</mat-icon
                    >
                </mat-form-field>
            </form>
            <button mat-raised-button color="primary" class="button-text" (click)="createUser()">Create User</button>
        </div>
        <div fxLayout="column" fLayoutAlign="start stretch" class="bg-color-white p-12 border-radius-4">
            <div fxLayout="column" fxLayoutAlign="start stretch">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="pl-24 pr-24 pt-12 pb-12">
                    <span fxFlex="10" class="subtitle-1">ID</span>
                    <span fxFlex="15" class="subtitle-1">Name</span>
                    <span fxFlex="20" class="subtitle-1">Email</span>
                    <span fxFlex="10" class="subtitle-1">Phone</span>
                    <span fxFlex="10" class="subtitle-1">Dept.</span>
                    <span fxFlex="25" class="subtitle-1">Address</span>
                    <span fxFlex="8" class="subtitle-1">Admin</span>
                    <span fxFlex="2" class="subtitle-1"></span>
                </div>
                <mat-divider></mat-divider>
                <div class="p-12 height-scroll">
                    <ng-container *ngFor="let user of userList">
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="p-12 row cursor-pointer">
                            <span fxFlex="10" class="subtitle-2 text-truncate" matTooltip="{{ user.studentId }}">{{
                                user.studentId
                            }}</span>
                            <span fxFlex="15" class="subtitle-2"> {{ user.name }} </span>
                            <span fxFlex="20" class="subtitle-2 text-truncate" matTooltip="{{ user.email }}">
                                {{ user.email }}
                            </span>
                            <span fxFlex="10" class="subtitle-2"> {{ user.phone }} </span>
                            <span fxFlex="10" class="subtitle-2"> {{ user.department }} </span>
                            <span fxFlex="25" class="subtitle-2"> {{ user.address }} </span>
                            <span fxFlex="8" class="subtitle-2"> {{ user.isAdmin ? "YES" : "NO" }} </span>
                            <mat-icon
                                class="action"
                                *ngIf="!user.isExpanded"
                                fxFlex="2"
                                color="primary"
                                (click)="toggleRowExpansion(user._id)"
                                >expand_more</mat-icon
                            >
                            <mat-icon
                                class="action"
                                *ngIf="user.isExpanded"
                                fxFlex="2"
                                color="primary"
                                (click)="toggleRowExpansion(user._id)"
                                >expand_less</mat-icon
                            >
                        </div>
                        <ng-container *ngIf="user.isExpanded">
                            <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="12px" class="p-12 mat-elevation-z1">
                                <button mat-raised-button color="primary" class="button-text" (click)="seeDetails(user._id)">
                                    See Details
                                </button>
                                <button mat-raised-button color="accent" class="button-text" (click)="editUser(user._id)">
                                    Edit
                                </button>
                                <button mat-raised-button color="warn" class="button-text" (click)="deleteUser(user._id)">
                                    Delete
                                </button>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                <mat-divider></mat-divider>
            </div>
        </div>
    </div>
</div>
