table {
    width: 100%;
}

:host ::ng-deep .mat-mdc-form-field-infix {
    min-width: 80px !important;
    max-width: 100px !important;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: rgba(52, 116, 235, 0.2);
}

.table {
    max-height: 452px !important;
    overflow-y: auto;
    border-radius: 8px;
    &::-webkit-scrollbar {
        display: none;
    }
}
